# 1. Listing in Python

In [6]:
#Append
lst=[1,2,3,4,5,6]
lst.append(7)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [9]:
#Extend
lst=[1,2,3,4,5,6]
lst.extend('amey')
print(lst)

[1, 2, 3, 4, 5, 6, 'a', 'm', 'e', 'y']

In [10]:
#clear
lst=[1,2,3,4,5,6]
lst.clear()
print(lst)

[]

In [11]:
#Copy
lst=[1,2,3,4,5,6]
new_lst=lst.copy()
print(new_lst)

[1, 2, 3, 4, 5, 6]

In [12]:
#Count
lst=[1,2,3,4,5,6]
lst.count(6)

1

In [14]:
#Insert
lst=[1,2,3,4,5,6]
lst.insert(7,8)
print(lst)

[1, 2, 3, 4, 5, 6, 8]

In [17]:
#Remove
lst=[1,2,3,4,5,6]
lst.remove(6)
print(lst)

[1, 2, 3, 4, 5]

In [114]:
#Pop
lst=[1,2,3,4,5,6]
lst.pop(3)
print(lst)

[1, 2, 3, 5, 6]

In [20]:
#Reverse
lst=[1,2,3,4,5,6]
lst.reverse()
print(lst)

[6, 5, 4, 3, 2, 1]

In [22]:
#Sort
lst=['Amey','Narayan','Ganekar']
lst.sort()
print(lst)

['Amey', 'Ganekar', 'Narayan']

In [130]:
#Index
lst=[1,2,3,4,5,6]
newlst=lst.index(6)
print(newlst)

5

# 2.Dictionary in Python

In [28]:
#Clear
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
thisdict.clear()
print(thisdict)

{}

In [29]:
#Copy
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
New_Dict=thisdict.copy()
print(New_Dict)

{'Name': 'Amey', 'Middlename': 'Narayan', 'Surname': 'Ganekar'}

In [82]:
#Items
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'} 
thisdict.items()
print(thisdict)

{'Name': 'Amey', 'Middlename': 'Narayan', 'Surname': 'Ganekar'}

In [44]:
#Change Year 
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar',
          "Year":2002}
thisdict["Year"]=2020
print(thisdict)

{'Name': 'Amey', 'Middlename': 'Narayan', 'Surname': 'Ganekar', 'Year': 2020}

In [46]:
#Pop
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
New_dict=thisdict.pop('Name')
print(New_dict)

Amey

In [50]:
#Pop Items
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
New_dict=thisdict.popitem()
print(New_dict)

('Surname', 'Ganekar')

In [51]:
#Setdefault
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
New_Dict=thisdict.setdefault('Name','Amey')
print(New_Dict)

Amey

In [52]:
#Get
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
New_Dict=thisdict.get('Name')
print(New_Dict)

Amey

In [98]:
#Update
thisdict={'Name':'Amey',
          'Middlename':'Narayan',
          'Surname':'Ganekar'}
thisdict.update({'Year' : 2002})
print(thisdict)

{'Name': 'Amey', 'Middlename': 'Narayan', 'Surname': 'Ganekar', 'Year': 2002}

# 3.Sets And It's Function

In [62]:
#Legth Of A Set
A={'Amey','Narayan'}
B={"Ganekar",1,2,3,4,5,6}
len(B)

7

In [67]:
#Accessing Element
A={'Amey','Narayan'}
B={"Ganekar",1,2,3,4,5,6}
for x in B:
    print(x)

1
Ganekar
3
2
4
5
6

In [84]:
#ADD Method
A={'Amey','Narayan'}
B={"Ganekar",1,2,3,4,5,6}
A.add(7)
print(A)

{'Amey', 'Narayan', 7}

In [88]:
#update
A={'Amey','Narayan'}
B={"Ganekar",1,2,3,4,5,6}
A.update(['Ganekar'])
print(A)

{'Amey', 'Ganekar', 'Narayan'}

In [99]:
#Remove
B={"Ganekar",1,2,3,4,5,6}
B.remove('Ganekar')
print(B)

{1, 3, 2, 4, 5, 6}

In [106]:
#POP Method
B={"Ganekar",1,2,3,4,5,6}
B.pop()
print(B)

{'Ganekar', 3, 2, 4, 5, 6}

In [105]:
#Discard
B={"Ganekar",1,2,3,4,5,6}
B.discard(2)
print(B)

{1, 'Ganekar', 3, 4, 5, 6}

In [108]:
#pipeline Union Method
A={'Amey','Narayan',1}
B={"Ganekar",1,2,3,4,5,6}
A|B

{1, 2, 3, 4, 5, 6, 'Amey', 'Ganekar', 'Narayan'}

In [109]:
#Concatenation union Method
A={'Amey','Narayan'}
B={"Ganekar",1,2,3,4,5,6}
A.union(B)

{1, 2, 3, 4, 5, 6, 'Amey', 'Ganekar', 'Narayan'}

In [113]:
#Intersection Using '&'
A={'Amey','Narayan',1,2}
B={"Ganekar",1,2,3,4,5,6}
A&B

{1, 2}

In [117]:
#Intersection Using 'intersection'
A={'Amey','Narayan',3,4}
B={"Ganekar",1,2,3,4,5,6}
A.intersection(B)

{3, 4}

In [118]:
#Difference of Set(Using '-')
A={'Amey','Narayan',3,4}
B={"Ganekar",1,2,3,4,5,6}
A-B

{'Amey', 'Narayan'}

In [119]:
#Difference of Set(Using 'difference')
A={'Amey','Narayan',3,4}
B={"Ganekar",1,2,3,4,5,6}
A.difference(B)

{'Amey', 'Narayan'}

In [123]:
#frozen Sets
A={'Amey','Narayan',3,4}
B={"Ganekar",1,2,3,4,5,6}
C=frozenset(A)
print(C)

frozenset({'Amey', 3, 4, 'Narayan'})

# 4.Tuple functions

In [129]:
#Index
tup=(1,2,3,4,65,6)
newtup=tup.index(6)
print(newtup)

5

In [133]:
#count
tup=(1,2,3,4,5,6,5,5,6)
newtup=tup.count(5)
print(newtup)

3

# 5.String And The Method

In [1]:
str="hello ,Amey How Are You"
str

'Hello ,Amey How Are You'

In [5]:
#count
str.count("")

24

In [7]:
str.count("Amey")

1

In [3]:
#endswith
str.endswith("u")

True

In [4]:
str.endswith("e")

False

In [11]:
#find
str.find("you")

-1

In [12]:
#isupper
str.isupper()

False

In [13]:
#istitle
str.istitle()

True

In [14]:
#upper
str.upper()

'HELLO ,AMEY HOW ARE YOU'

In [16]:
#title
str.title()

'Hello ,Amey How Are You'

In [17]:
#islower
str.islower()

False

In [33]:
#splitlines()
str.splitlines()

['Hello ,Amey How Are You']

In [34]:
#split
str.split()

['Hello', ',Amey', 'How', 'Are', 'You']

In [25]:
#index
str.index("A")

7

In [26]:
#replace
str.replace("Amey","Narayan")

'Hello ,Narayan How Are You'

In [27]:
#isprintable
str.isprintable()

True

In [32]:
#capitalize
str.capitalize()

'Hello ,amey how are you'